* {
    padding: 0;
    margin: 0;
}

:root {
    --branca: white;
    --preta: rgb(0, 0, 0);
    --azul: rgba(70, 70, 214, 0.89);
    --vermelha: red;
}

.container {
    display: grid;
    grid-template-columns: 35% 65%;
}


.conexao_login {
    background-color: var(--azul);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.formulario {
    background-color: var(--azul);
    height: 64.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

input {
    padding: 3%;
    border-radius: 10px;
}