* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
}

:root {
    --branca: rgba(255, 255, 255, 0.932);
    --preta: rgb(0, 0, 0);
    --azul: rgba(76, 76, 219, 0.677);
    --cinza: rgba(48, 43, 43, 0.623);
}

body {
    background-color: var(--azul);
}


.botao1 {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: transparent;
    color: var(--branca);
    cursor: pointer;
}

.menu_lista {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    margin: 30px;
    margin-left: 20px;
}


a {
    color: var(--cinza);
    text-decoration: none;
}

a:hover {
    color: var(--branca);
    
}

.formulario {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 12px;
    
}
